

*{
    margin: 0;
    padding: 0;
} /*Lo anterior fue para eliminar márgenes y paddings que vienen por defecto. El asterisco representa todo el documento*/


header{

    width: 100%;
    height: 20%;
    background-color: bisque;
}

header img{
    margin-left: 95px;
    padding: 5px;

}

main{
    width: 100%;
    height: 60%;
    background-color:blanchedalmond;
    display: inline-flex;
    justify-content: space-between;
    
}


section{
    height: 100%;
    background-color: aliceblue;
    border-radius: 20px;
}

.section1{
    width: 60%;
    margin-left: 20px;

}

.section2{
    width: 30%;
    margin-right: 20px;
}




footer{
    width: 100%;
    height: 20%;
    background-color: #000000;
}

#ButtonCopiar{
    display: none;
}

.contenedor_imagen{
    width: 100%;
    height: 60%;
    padding-top: 20px;
    text-align: center;
}

.contenedor_subtitle{
    width: 100%;
    height: 10%;
    text-align: center;
}

.contenedor_p{
    width: 100%;
    height: 20%;
    text-align: center;

}


#textoDesencriptado{
    background-color: aliceblue;
    border: none;
    resize: none;
    text-align: center;
   
}

#textoEncriptado{
    width: 80%;
    height: 60%;
    resize: none;
    display: block;
    background-color: aliceblue;
    border: none;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 2.5em;
    border-radius: 10px;
    outline: 0;
}

.contenedor_botones{
    text-align: center;
    margin-top: 10px;


}
.botones{
    width: 30%;
    height: 40px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    background-color: azure;
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.botones:hover{
    background-color: #d6cccb;
    color: #000000;

}


footer{
    font-size: 2rem;
    text-align: center;
    color: antiquewhite;
    padding-top: 10px;
    box-sizing: border-box;
}

